

<nav class="navbar navbar-expand-lg navbar-light">
  <div class="navbar-header">
    <img class="nav-link" src="/assets/images/logo_polyquiz.png" [routerLink]="['/home']" class="logo2"/>
  </div>
  <div class="menu" *ngIf="isAdmin() || isTetra() || isParkinson()">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent" >
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link" [routerLink]="['/home']" (click)="setNotAuth()">Acceuil<span class="sr-only" >(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/quiz-list']" *ngIf="isAdmin() || isTetra() || isParkinson()">Quiz</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" [routerLink]="['/user-list']" *ngIf="isAdmin()">Utilisateur</a>
          </li>
      </ul>
    </div>
  </div>
</nav>


<!-- ======= Header
  <header id="header" class="fixed-top d-flex align-items-center">
    <div class="container d-flex justify-content-between align-items-center">

      <div class="logo">
        <h1><a href="index.html">SoftLand</a></h1>
      </div>

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="" href="index.html">Home</a></li>
          <li><a href="features.html">Features</a></li>
          <li><a class="active" href="pricing.html">Pricing</a></li>
          <li><a href="blog.html">Blog</a></li>
          <li class="dropdown"><a href="#"><span>Drop Down</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              <li><a href="#">Drop Down 1</a></li>
              <li class="dropdown"><a href="#"><span>Deep Drop Down</span> <i class="bi bi-chevron-right"></i></a>
                <ul>
                  <li><a href="#">Deep Drop Down 1</a></li>
                  <li><a href="#">Deep Drop Down 2</a></li>
                  <li><a href="#">Deep Drop Down 3</a></li>
                  <li><a href="#">Deep Drop Down 4</a></li>
                  <li><a href="#">Deep Drop Down 5</a></li>
                </ul>
              </li>
              <li><a href="#">Drop Down 2</a></li>
              <li><a href="#">Drop Down 3</a></li>
              <li><a href="#">Drop Down 4</a></li>
            </ul>
          </li>
          <li><a href="contact.html">Contact Us</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav>

    </div>
  </header>
======= -->
