.uContainer {
  background-color: whitesmoke;
  padding: 10px 0px;
  border-radius: 20px;
  margin: 20px;
}

.image {
  text-align: center;
}

img {
  width: auto;
  height: 100px;
  object-fit: contain;
}

.nameContainer {
  text-align: center;
}

.text {
  text-align: center;
}
