<section>
    <div class="container">
        <label>Taille de la police</label>
        <div class="value" id="valeur1" >0</div>
        <input type="range" min="50" max="300" value="0"  id="customRange1" (input)="valueChanged($event.target.value)">
        <h1 id="nabil">NABIL</h1>
        <br>
        <label>Taille de la case réponse</label>
        <div class="value" id="valeur2" >0</div>
        <input type="range" min="50" max="300" value="50" id="customRange2" (input)="valueChanged1($event.target.value)">
        <button class="test" id="box">NABIL</button>
    </div> 
</section>
