<div class="card">
    <h2 [routerLink]="'/view/'+quiz.id" >
        <br>
        <img src="{{quiz.image}}" width="100" height="100">
        <br>
        {{quiz.name}}
    </h2>
    <div *ngIf='isAdmin()'>
    <!-- <button class="button-card" (click)="selectQuiz()" [routerLink]="'/quizUser/'+quiz.id">Select</button> -->
        <button class="btn btn-danger" style="margin-right: 5px;" (click)="delete()">supprimer</button>
        <button class="btn btn-primary" [routerLink]="'/edit-quiz/'+quiz.id">modifier</button>
    </div>
</div>