@import './styles/variables.scss';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

/* You can add global styles to this file, and also import other style files */
html {
  font-family: 'Montserrat', sans-serif;
}

body {
  margin: 0;
  background-color: $app-background-color;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}
